html {
    background-color: var(--primary-light);
    transition: background-color 0.4s ease;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'UntitledSans-Regular', Arial, Helvetica, sans-serif;
    letter-spacing: -0.01rem;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    background-color: var(--primary-light);
    color: var(--primary-dark);
    width: 100%;
    max-width: 1728px;
    margin: 0 auto;
}