/* ----------------
TAGS
---------------- */
.tag {
    line-height: 0.8rem;
    font-weight: 700;
    font-style: normal;
    font-size: 0.5rem;
    width: max-content;
    padding: 2px 5px 0px 5px;
    letter-spacing: .06rem;
    text-transform: uppercase;
    border-radius: 2px;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    border: 1px solid var(--primary-dark);
}

.tag-available {
    border-color: var(--primary-dark);
    background-color: var(--highlight);
    color: var(--primary-dark)
}

.tag-unavailable {
    background-color: var(--radio);
    color: var(--primary-light);
    border:none;
}

.tag-row {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.clippings-list .tag-row span:last-child {
    margin-top: 2px;
}

.tag-dark {
    background-color: var(--primary-dark);
    color: var(--primary-light);
    border-color: var(--primary-dark);
}

/* ----------------
PILLS
---------------- */
.pill {
    display: inline-block;
    font-size: 0.8rem;
    line-height: 1rem;
    padding: 3px 10px 1px 10px;
    border-radius: 100px;
    border: 1px solid;
    white-space: nowrap;
    width: max-content;
}

.pill-online {
    border-color: var(--primary-dark);
    color: var(--primary-dark);
    background-color: transparent;
    background-color: color-mix(in srgb, var(--primary-dark) 30%, transparent);
}

.pill-offline {
    border-color: var(--radio);
    color: var(--radio);
    background-color: transparent;
    background-color: color-mix(in srgb, var(--radio) 30%, transparent);
}

a.tag {
    text-decoration: none;
}

.shop-item-tag {
    font-size: 0.6rem;
    padding: 5px 7px 2px 7px;
    position: absolute;
    top: 10px;
    left: 10px;
}

/* ----------------
BADGE
---------------- */
.badge {
    display: inline-block;
    font-size: 0.6rem;
    line-height: 0.8rem;
    padding: 3px 7px 1px 7px;
    border-radius: 2px;
    border: 1px solid var(--primary-dark);
    background-color: var(--highlight);
    margin-bottom: 10px;
}