<div id="breadcrumbs" class="text-small pixel-font uppercase">
    <div class="icon small-arrow-right-icon">
        <a href="/">Home</a>
    </div>
    <div class="icon small-arrow-right-icon">
        <a href="/shop/">Shop</a>
    </div>
    <div>
        {{ title }}
    </div>
</div>