<h3 class="uppercase pixel-font">Clippings</h3>
<div class="spacer-large"></div>
<div class="list clippings-list">
    {% for item in clippingsItems %}
        {% include "source/snippets/list-clippings.njk" %}
    {% endfor %}
</div>
