<h4 class="pixel-font uppercase">Downloads / bittorrent</h4>
<div class="spacer-large"></div>
<div class="list two-col-list">
    {% for item in downloads.files %}
        <div class="">
            {{ item.title }}
        </div>
        <div class="align-right">
            <a href="{{ item.dtan_url }}" class="icon external-icon" data-umami-event="torrent-details" data-umami-event-title="{{ item.title }}">details</a>|
            <a href="{{ item.torrent_url }}" class="icon download-icon" data-umami-event="torrent-download" data-umami-event-title="{{ item.title }}">download</a>
        </div>
        <div class="row-border"></div>
    {% endfor %}
</div>