<footer class="bg-highlight ">

    {# BG IMAGE #}
    <div class="section-fullwidth bg-image parallax">
        {% image "source/assets/img/featured/nogood_stickerwall.png", "nogood stickers background", [720, 1400, 2000], "100vw" %}
        <div class="bg-image-content"></div>
    </div>

    {# MAIN #}
    <div id="footer-top" class="section medium-grid">
        <div class="section-column footer-main">

            {# SLOGAN #}
            <h1 class="pixel-font uppercase padding-right-large">
                Illustration inspired by retro tech and fuelled by the open-source movement.
            </h1>
            <div class="spacer"></div>
            {# CONTACT #}
            <p>Get in touch —
                <a href="mailto:{{ settings.metadata.site_email }}">{{ settings.metadata.site_email }}</a>
            </p>
        </div>
        {# MENU #}
        <div class="section-column footer-menu align-right">
                <ul class="place-bottom text-large uppercase pixel-font">
                    <li>
                        <a href="/work/">Work</a>
                    </li>
                    <li>
                        <a href="/shop/">Shop</a>
                    </li>
                    <li>
                        <a href="/about/">About</a>
                    </li>
                    <li>
                        <a href="/now/">Now</a>
                    </li>
                    <li>
                        <a href="/radio/">Radio</a>
                    </li>
                    <li>
                        <a href="/archive/">Archive</a>
                    </li>
                </ul>
        </div>
        {# SOCIALS #}
        <div class="section-column footer-menu align-right">
                <ul class="place-bottom text-large uppercase pixel-font">
                    <li>
                        <a href="https://njump.me/npub12hcytyr8fumy3axde8wgeced523gyp6v6zczqktwuqeaztfc2xzsz3rdp4" target="_blank" rel="noopener">NOSTR</a>
                    </li>
                    <li>
                        <a href="https://bsky.app/profile/nogood.studio" target="_blank" rel="noopener">Bluesky</a>
                    </li>
                </ul>
        </div>
    </div>

    {# BOTTOM BAR #}
    <div class="section bg-highlight text-dark">
        <div class="grid large-grid padding-small">
            {# LEFT #}
            <div class="footer-copyright text-small">
                <span class="hide-small hide-medium"><span id="node-footer-status" class="node-tag node-tag-offline pixel-font uppercase node-tag-footer" style="display:none;">nogoodnode offline</span></span>
            </div>
            {# RIGHT #}
            <div class="footer-copyright text-small align-right">
                <a href="/terms/">Terms</a> — <a href="/privacy/">Privacy</a> — <a href="https://cloud.umami.is/analytics/eu/share/QocB4DKRHh2k6i5J" target="_blank" rel="noopener">Stats</a> — NoGood © 2026
            </div>
        </div>
    </div>
</footer>