<div class="status">
    <h4 class="uppercase pixel-font">Status</h4>
    <p>
        I'm currently <span class="tag tag-available pixel-font">available</span>
        to take on new illustration projects.
        <i>– <a href="mailto:{{ settings.metadata.site_email }}">Get in touch</a></i>
    </p>
</div>