---
layout: post
permalink: /book/announcement/
title: I’m self-publishing a book!
description: Self-published and crowdfunded. Showcasing five years of NoGood illustration projects.
date: 2024-09-23
number: "01"
ogImage: /assets/img/og/Book_OG.jpg
intro: "Producing an art book has been a vaguely defined idea that simmered in the back of my brain for years. Being well aware of the amount of work it takes to complete such a project I never mustered the courage to start."
---

<p class="text-large">Like most digital illustrators I love seeing my work printed, bundled and displayed in stores. But
    that’s not the only reason for producing a book, neither is it the most important one. The book is an opportunity to
    highlight open-source initiatives and the growing community behind it. Furthermore, it can exist outside of any digital
    bubble, and in this case, can be the start of some good conversations about a world mostly unknown to the average
    internet user.</p>
<p class="text-large">Last fall I visited the Allard Pierson museum where in the gift shop I spotted
    <a
        href="https://www.taschen.com/en/books/architecture-design/06769/koolhaas-obrist-project-japan-metabolism-talks"
        target="_blank" rel="noopener">Project Japan: Metabolism Talks</a>
    by Rem Koolhaas. Consisting of over 700 pages printed on very thin paper, and with each spread beautifully designed by
    <a href="https://en.wikipedia.org/wiki/Irma_Boom" target="_blank" rel="noopener">Irma Boom</a>
    it stood out among the other books. It reminded me of a very thick
        but compact phonebook.</p>
<p class="text-large">It was everything my book should be. Project Japan flicked a switch, making me forget about the
    reasons I had not to produce it, and inspired me to start working on the NoGood book right away.</p>
<div class="bg-offwhite">
    {% image "source/assets/img/book/Book_Cover_Square.jpg", "NoGood Art Book cover" %}
</div>

<h3 class="uppercase pixel-font">Concept</h3>
<p class="text-large">Although NoGood’s origins lie in the bitcoin space, this will not be a book about bitcoin. I want
    to tell a larger story about open-source software, open protocols and online privacy. My illustrations will take up most
    of the book, but I intend to dedicate ample space to provide more background and context about the environment in which
    my work exist. To achieve this, I will divide the book into distinct sections:</p>
<div class="list two-col-list">
    <div class="pixel-font uppercase">Work</div>
    <div class="align-right">An overview of NoGood illustration projects.</div>
    <div class="row-border"></div>
    <div class="pixel-font uppercase">Process</div>
    <div class="align-right">Showcasing my illustration process.</div>
    <div class="row-border"></div>
    <div class="pixel-font uppercase">Context</div>
    <div class="align-right">Articles by people whose work I admire or find inspiring.</div>
    <div class="row-border"></div>
    <div class="pixel-font uppercase">Items</div>
    <div class="align-right">A catalogue of NoGood physical products.</div>
    <div class="row-border"></div>
</div>

<h3 class="uppercase pixel-font">Self-publishing</h3>
<p class="text-large">This will be a limited edition and self-published book. My initial goal is to produce 200 books.
    Luckily, I have a background in print production, so I can design it myself. I’ll also have to find a printer, manage
    the budget, hire a copy writer and take care of distribution.</p>
<h3 class="uppercase pixel-font">Crowdfunding</h3>
<p class="text-large">I set up
    <a href="https://geyser.fund/project/nogoodartbook" target="_blank" rel="noopener">a crowdfund campaign</a>
    , where you can already pre-order the book, since self-publishing gets expensive quickly. All pre-orders cover part of
    the production costs, and help me figure out how many books to produce. I’ll also create exclusive rewards for early
    supporters, such as small art prints, NOSTR badges or a mention on NoGood Radio. The book will feature a dedicated page
    that lists the (nick)names of all supporters.</p>
<h3 class="uppercase pixel-font">Next steps</h3>
<p class="text-large">I’ve never self-published a book before so I have a lot of research to do. First up, requesting
    quotes from printers to get an idea of what’s possible. I’ll start looking for articles and blog posts to use in the
    context section, and contact their authors to ask for permission to use them. Keep you posted!</p>
