---
layout: post
permalink: /book/beginnings/
title: Beginnings
description: The first weeks of the NoGood Book campaign.
date: 2024-10-08
number: "02"
ogImage: /assets/img/og/Book_OG.jpg
intro: >-
  To say I was excited to finally begin working on the book, and to launch the
  <a href="https://geyser.fund/project/nogoodartbook" target="_blank" rel="noopener">crowdfund campaign</a>,
  is an understatement. But excitement wasn't the only emotion I felt. Realising there was no way back hit me
  hard, and I've been feeling the pressure since I first announced the book.
---

<p class="text-large">What if there's no interest in the book, or the production costs are higher than I expected? Do I
  have enough content to fill a book? How do you make a book anyway? It's a mixed bag of imposter syndrome and being way
  out of my comfort zone.</p>
<p class="text-large">So to clear my head, and on the hunt for inspiration, I visited some of my favorite bookshops in
  Amsterdam. I quickly discovered there's a recurring theme in the books that catch my eye. I call them 'zines without a
  budget' — books that have a more modest look, yet are beautifully designed and use various printing techniques in a more
  subtle way. The opposite of the large, glossy and colourful publications that scream for attention.
</p>
<div class="fade-in">
  <div class="bg-highlight fade-in">
    {% image "source/assets/img/book/Book_Inspiration_0001.jpg", "book inspiration" %}
  </div>
  <div class="spacer-small"></div>
  <div class="bg-highlight fade-in">
    {% image "source/assets/img/book/Book_Inspiration_0002.jpg", "book inspiration" %}
  </div>
  <div class="spacer-small"></div>
  <div class="bg-highlight fade-in">
    {% image "source/assets/img/book/Book_Inspiration_0003.jpg", "book inspiration" %}
  </div>
</div>

<h3 class="uppercase pixel-font">Crowdfunding</h3>
<p class="text-large">The first weeks of <a href="https://geyser.fund/project/nogoodartbook" target="_blank" rel="noopener">the campaign</a> have been a success,
  with over 20 pre-orders and roughly 25% of the production costs covered. A huge thank you to everyone who has supported
  the book so far!</p>
<h3 class="uppercase pixel-font">Next steps</h3>
<p class="text-large">Next week I'll visit two printers that specialise in producing art books. Their initial quotes
  were in line with my expectations and I'm looking forward to discuss options, get their input and see a lot of beautiful
  books.</p>
