---
layout: post
permalink: /book/closing-in/
title: Closing In
description: Behind the scenes, a lot has happened over the past weeks.
date: 2025-11-25
number: "06"
ogImage: /assets/img/og/Book_OG.jpg
intro: >-
  Work on the NoGood book kicked off a year ago. I've steadily
  <a href="https://njump.me/npub12hcytyr8fumy3axde8wgeced523gyp6v6zczqktwuqeaztfc2xzsz3rdp4" target="_blank" rel="noopener">shared updates on NOSTR</a>,
  but an update here has been long overdue; five months to the day, to be precise. What have I been up to, you ask? Let me tell you.
site:
  link: /the-nogood-book/
  linkLabel: Order the NoGood Book
---

<p class="text-large">Over the summer I took on a few large illustration projects unrelated to NoGood. Under the NoGood
    moniker, I created new work for the
    <a href="/work/sovereign-engineering/">Sovereign Engineering Cohort</a>
    and
    <a href="/work/tabconf/">TABConf7</a>. Altogether, there was little time and energy left to work on the book. When
        I did find time, the book kept shapeshifting. Because I found other books that inspired me to take a different turn;
        because of conversations I had with
    <a href="https://daniel.pizza" target="_blank" rel="noopener">Daniël</a>, my editor; or, because of the available budget.</p>
<p class="text-large">The definitive design of this book has proven illusive. I've redesigned it several times, scrapped
    a lot of text, only to add it back in again a month later. It went from hardcover to softcover, to hardcover, and back
    to softcover again (this is final, I promise). When I was happy with its pages, I changed the size of the book, forcing
    yet another redesign of all 272 pages.</p>
<p class="text-large">I've lost myself in the details once or twice, circling back to previous decisions and ending up
    elsewhere. It's not easy to design and self-publish a book, but now I think—finally—I have a good grasp of its final
    form.</p>
<p class="text-large">My original plan was to start shipping the book within a year, which is… now, roughly. The reality
    is I need a bit more time, and I hope you can be patient with me a little longer. I've blocked October through December
    to focus exclusively on completing the book, and finish it in Q1 of 2026.</p>
<div class="fade-in">
    {% image "source/assets/img/book/NG_Book_Cover.jpg", "The final cover design" %}
</div>
<h3 class="uppercase pixel-font">What changed?</h3>
<h4 class="uppercase pixel-font">The book is bigger!</h4>
<p class="text-large">It grew from 170x230mm to 180x250mm. The difference seems small, but the extra space makes a
    massive difference. Many of the illustrations are now laid out horizontally, covering two pages, ideal for total
    immersion.</p>
<h4 class="uppercase pixel-font">The book has more pages!</h4>
<p class="text-large">Altogether, the book now has a total of 272 pages. The Work and Process sections have been
    expanded; Work counts 128 pages, while Process makes up 64. It's becoming a doorstop, looking forward to gracing your
    coffee table.</p>
<div class="slideshow slideshow-3 image-padding-large bg-offwhite fade-in">
    {% image "source/assets/img/book/NG_Book_Pages_001.jpg", "A spread from The NoGood Book" %}
    {% image "source/assets/img/book/NG_Book_Pages_002.jpg", "A spread from The NoGood Book" %}
    {% image "source/assets/img/book/NG_Book_Pages_003.jpg", "A spread from The NoGood Book" %}
</div>
<h4 class="uppercase pixel-font">The book has an exposed spine!</h4>
<p class="text-large">I've opted for an exposed spine. This allows you to open the book fully, to lay its pages flat on
    the table, and makes it ideal for viewing the work that's spread across two pages. An added benefit of the exposed spine
    is that it allows me to print something on the edges of the signatures (the backs of the sections of paper—excuse the
    technical chitchat). There are seventeen of those, giving me ample space to print a timestamp. The timestamp represents
    the first and last illustration to make it into the book.</p>
<div class="fade-in">
    <div class="fade-in">{% image "source/assets/img/book/NG_Book_Spine.jpg", "The book's spine design" %}</div>
    <div class="spacer-small"></div>
    <div class="fade-in">{% image "source/assets/img/book/NG_Book_Context_002.jpg", "A new illustration from the context section" %}</div>
</div>
<h4 class="uppercase pixel-font">And, all articles have been collected!</h4>
<p class="text-large">I've finished collecting articles and blogposts to reprint in the Context section of the book—with permission of the
authors: thank you! Bundled together, they provide the necessary context my work and thinking was inspired by or
indebted to.</p>
<h4 class="uppercase pixel-font">The book has a softcover!</h4>
<p class="text-large">Visiting bookstores for inspiration, I've fiddled with many softcover books (like this one by
    Ardneks), and have come to appreciate it. I think it's a great fit. And, all articles have been collected! I've finished
    collecting articles and blogposts to reprint in the Context section of the book—with permission of the authors: thank
    you! Bundled together, they provide the necessary context my work and thinking was inspired by or indebted to.</p>

<h3 class="uppercase pixel-font">Budget & stretch goals</h3>
<p class="text-large">The Geyser crowdfunding campaign has been successful so far. The backers on the Bitcoin-based
    platform—and the rise in Bitcoin's value over the last year or so—have ensured I have enough funding to create the book.
    So, between now and sending it off to print, I'm going to focus on reaching a few stretch goals.</p>
<p class="text-large">A while back I opened Kaba2 again, a book by Otomo Katsuhiro. I picked it up during one of my
    visits to Japan. It's large, and comes in a cardboard box, a slipcase of sorts. I flipped through it, put the book away
    and, a few weeks later, realised a slipcase like that would look great on the NoGood book, too. I mocked one up and
    spoke to the printer who—unsurprisingly—told me: slipcases are costly to produce.</p>

<div class="fade-in">
    {% image "source/assets/img/book/NG_Book_Sleeve.jpg", "A custom designed box for The NoGood Book" %}
</div>

<p class="text-large">But, I want one! And so, with a few months to go before I send the book to print, I'm introducing
    a stretch goal campaign. It's live now on Geyser. Going forward, if you place an order via the Geyser crowdfunding, the
    funds go towards producing the slipcase. If you haven't already, please take a look! You can order the book by itself,
    or choose an option with a print, too.</p>
<p class="text-large">For now, thank you for reading, for your support, and for your patience. It means
    the world.</p>
