---
layout: post
permalink: /book/loops/
title: Loops
description: Loops have been the overarching theme in the last two months of my work.
date: 2025-02-28
number: "04"
ogImage: /assets/img/og/Book_OG.jpg
intro: "Loops have been the overarching theme in the last two months of my work. You see, my book project is incredibly exciting, and whenever I have a large project like this—a beast—I have a tendency to become somewhat obsessive, (subconsciously) dedicating every waking hour to feeding it."
site:
  link: /the-nogood-book/
  linkLabel: Order the NoGood Book
---

<p class="text-large">I forced myself to step away from it for a bit, working on other projects while letting the book
    slumber in the back of my head. When I picked the project back up again, I could feel the diﬀerent pieces it consists of
    had clicked into place. It always surprises me to see how taking time away from a project can contribute to seeing
    things more clearly on the project.</p>
<h3 class="uppercase pixel-font">A new website for NoGood</h3>
<p class="text-large">During this brief hiatus I found myself digging deeper into the indie & open web. I read articles
    by people who have been active proponents of an open web—as opposed to the walled gardens we've gotten accustomed to
    tracking us whichever way we surf—and I discovered the concept of tending to a 'digital garden'. I saw a side of the web
    I was less exposed to before that aligned perfectly with my values.</p>
<p class="text-large">As a result, I overhauled the NoGood website. This new version of the website is simple, eﬀective,
    and static: there is no tracking whatsoever, and it makes no requests to external resources. It only uses system fonts,
    serves optimised images, and because of that it's blazing fast. I built it using 11ty, and you can read more about it
    <a href="/posts/update/new-website/">in last month's blogpost</a>. Within weeks, NoGood got featured on
    <a href="http://deadsimplesites.com" target="_blank" rel="noopener">DeadSimpleSites</a>, a gallery full of similar websites, which is a welcome bit of
            recognition.</p>
<h3 class="uppercase pixel-font">Rewarding dialogues</h3>
<p class="text-large">The book's sections
    <a href="/book/announcement">(Work, Process, Context,
            Items)</a>
    are set. The Context section is meant to—well, do what it says on the tin: paint a picture of the context in which my
    own work was created and construct conversations between my work and that which came before it.</p>
<p class="text-large">To do so, I'll carve out space for articles—published under the Creative Commons or share-alike
    license—that inspired me along the way. I'll illustrate each article myself, in black and white.</p>
<p class="text-large">I've asked a few people for their permission to publish their articles and have received positive
    responses from
    <a href="https://craphound.com/" target="_blank" rel="noopener">Cory Doctorow</a>, Jack Dorsey,
    <a href="https://www.lynalden.com/" target="_blank" rel="noopener">Lyn Alden</a>
    and
    <a href="https://dergigi.com/" target="_blank" rel="noopener">DerGigi</a>, for which I'm incredibly grateful. Just the ability to have
        dialogues with these people whose work I've admired is a rewarding outcome of me pursuing this project, feeding back
        into my desire to create a great publication.</p>
<p class="text-large">In order to do right by the Creative Commons license, I'll make the Context section available on
    the NoGood website, too. I may even turn it into a printable zine—more on that later.</p>
<h3 class="uppercase pixel-font">Editing and designing the NoGood book</h3>
<p class="text-large">I primarily work on the book from my studio space, which I share with two other creatives,
    <a href="http://timokuilder.com" target="_blank" rel="noopener">Timo</a> and <a href="http://daniel.pizza" target="_blank" rel="noopener">Daniël</a>.</p>
<p class="text-large">Daniël designs and builds open-source software for <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a>, writes, and
    publishes a literary magazine called <a href="http://transcriptmag.store" target="_blank" rel="noopener">TRANSCRIPT</a>. We share similar values, he knows a thing
    or two about the open web, and it made perfect sense for us to work together. I've hired him to act as an editor for the
    book, and he now edits my writing (in fact, he edited this update, too!). We've had some dialogues about the articles
    I'm including as well as others I could add, too, and we'll continue our conversations throughout the design process.</p>
<p class="text-large">Commissioning him to take on this work has been a relief. It freed up precious headspace, and I've
    started designing the first spreads of the book. Some sections already are very clear, while others still need time to
    crystallise. Fortunately, clarity comes as a result of chipping away at the work ahead, so I keep at it with renewed
    energy.</p>
<h3 class="uppercase pixel-font">Crowdfunding & production</h3>
<p class="text-large">I have a complete picture of the production costs of the book and I've ironed out the logistics. I
    know which printer will be printing it, and my budget estimates were correct. The current number of
    <a href="https://geyser.fund/project/nogoodartbook" target="_blank" rel="noopener">pre-orders</a> (53) covers roughly 70% of the production costs, which means I
    can safely produce the NoGood book—it's going to print this summer!</p>
<p class="text-large">200 copies will roll oﬀ the press, and I'm really looking forward to it.</p>