---
layout: post
permalink: /book/progress/
title: Progress
description: Behind the scenes, a lot has happened over the past weeks.
date: 2025-05-12
number: "05"
ogImage: /assets/img/og/Book_OG.jpg
intro: "Behind the scenes, a lot has happened over the past weeks. The design of the book's pages is nearly finished. I've selected and placed the illustrations and sketches I'll feature and I'm close to finalising the Introduction section. All that's left to do is a small photo shoot of some things from my archives, selecting one or two more articles for the Context section, and illustrating the articles."
---

<p class="text-large">After that I'll print a dummy and kick off the second round of iteration—crossing T's, dotting
    I's. (And then I'll cross those T's and dot those I's again and again because, surely, more things will arise.)</p>
<p class="text-large">In parallel, and perhaps most importantly, I'm working on the design of the cover. I have a few
    ideas I'd like to discuss with the printer to learn more about the various possibilities and costs.</p>
<div class="fade-in">
    <div class="fade-in">{% image "source/assets/img/book/Book_Cover_Illustration.jpg", "An illustration of the book" %}</div>
    <div class="spacer-small"></div>
    <div class="fade-in">{% image "source/assets/img/book/Book_CoverOptions.jpg", "Alternate cover options" %}</div>
</div>

<h3 class="uppercase pixel-font">Book site</h3>
<p class="text-large">The book is now also available for pre-order
    <a href="/shop/">in the shop</a>, where you can pay for it in euros or dollars. If you prefer, BTC payments are still possible
    <a href="https://geyser.fund/project/nogoodartbook" target="_blank" rel="noopener">on Geyser</a>.</p>
<p class="text-large">Originally I only offered one pre-order option that included rewards, like a print and a sticker
    pack. I've now named that
    <s><a href="#" onclick="return false;">the Collectors Edition</a></s> (the pre-order is over), and added a separate option to
    <a href="/the-nogood-book/">order just the book</a>
    (without additional rewards) at a reduced price.</p>
<p class="text-large">Once the book is out in the world, this site is where I'll have it up for sale. I'll make the
    articles and illustrations from the Context section available there too. They'll be published, in their entirety, under
    the Creative Commons Share-alike license.</p>
<h3 class="uppercase pixel-font">Promo video</h3>
<p class="text-large">
    <a href="https://www.instagram.com/lilialand/" target="_blank" rel="noopener">My friend Lilia</a>
    shot and edited a short promotional video that provides a glimpse behind the scenes in my studio in Amsterdam, a peek at
    the book's production process, and a sneak preview of the first spreads. While the process was new to me, this video was
    a lot of fun to make and I'm proud of the result.</p>
<div class="video fade-in">
    <video
        controls="controls"
        src="/assets/img/book-promo.mp4"
        poster="/assets/img/book/Book_Promo_Poster.jpg"
        autoplay="autoplay"
        loop="loop"
        muted="muted"></video>
</div>

<h3 class="uppercase pixel-font">Pre-orders</h3>
<p class="text-large">The total number of pre-orders has grown to 76—12 of which came through the new website. I
    initially thought I'd be selling 50 pre-orders at most, so things are definitely exceeding my expectations.</p>
<p class="text-large">Feel free to place your pre-order
    <a href="/shop/">in the shop</a>, or use
    <a href="https://geyser.fund/project/nogoodartbook" target="_blank" rel="noopener">the Geyser crowdfund campaign</a>
    to secure your copy.</p>
<h3 class="uppercase pixel-font">Up next</h3>
<p class="text-large">In my next blog I'll dive a little deeper into the technical side of the book. I'll take you
    through the different kinds of paper I'll use, the printing methods we'll employ, and how the book will be bound and
    finished.</p>
