---
layout: post
permalink: /book/throwback/
title: Throwback
description: Working on the NoGood book forces me to contemplate NoGood’s origins.
date: 2024-12-21
number: "03"
ogImage: /assets/img/og/Book_OG.jpg
intro: "I’ve come to realise that NoGood is essentially a throwback to my teenage years, the late 90’s and early 00’s. To physical media, floppy disks and game cartridges. To Casio watches and replaceable batteries and Playstations."
---


<p class="text-large">When I was a teenager I used to record songs from the radio on cassette tapes. I would patiently
  listen to the radio until a specific song came on, at which point I ran to my stereo and pressed the play and record
  button simultaneously. A couple of seconds late every time.</p>
<p class="text-large">Later I’d torrent Japanese pop records on Napster. I learned about bitrates, open ports and file
  types and figured out which search filters worked best. Though I never knew what file I’d end up with. I modded my
  Playstation so I could play a region-locked copy of Winning Eleven, a Japanese soccer game. I screwed open the console
  and replaced the chip, feeling like a true hacker doing something very illegal. If it worked I’d spend the next hours
  trying to make sense of Japanese in-game menus.</p>
<p class="text-large">I gave this short introduction to the printers I visited last week. I’m not sure if they
  understood exactly what I was talking about, but they showed me lots of samples and beautifully designed books all the
  same. It looks like my initial estimate — €7000 to produce 200 books — was pretty accurate. Some of my suggestions, like
  using a variety of paper stock and weights, barely move the price. Others, like creating a cardboard sleeve and using
  Pantones, are relatively expensive to produce and will most likely be scrapped.</p>
<div class="fade-in">
  <div class="bg-highlight fade-in">
    {% image "source/assets/img/book/Book_Inspiration_0004.jpg", "Paper samples" %}
  </div>
  <div class="spacer-small"></div>
  <div class="bg-highlight fade-in">
    {% image "source/assets/img/book/Book_Inspiration_0005.jpg", "Paper samples" %}
  </div>
  <div class="spacer-small"></div>
  <div class="bg-highlight fade-in">
    {% image "source/assets/img/book/Book_Inspiration_0006.jpg", "Paper samples" %}
  </div>
</div>

<h3 class="uppercase pixel-font">Crowdfunding</h3>
<p class="text-large">We’re currently at 31 pre-orders, covering about 45% of the production costs. An extra special
  supporter even bought a set of five books!
</p>
<h3 class="uppercase pixel-font">Next steps</h3>
<p class="text-large">I started designing the first spreads last week, though I think I’ll take a short break over the
  holidays.</p>
