---
layout: product
permalink: /products/offchainramen-print/
date: 2025-10-12
ogImage:
title: OffChain Ramen Print — 50x70cm
product_kind: "print"

description: |
  OffChain Ramen. Open 24/7. BTC accepted. Perfect for late night hangouts. It gets busy and discussions
  get heated when the crew’s hungry.

# Used in product page marquee
short_title: "OffChain Ramen"
subtitle: false
subtitle_content:

snipcart:
  id: "offchainramen-print"
  price: "120"
  short_description: "Offchain Ramen — screen print"
  snipcartimage: "/assets/img/shop/snipcart/Snipcart_OffChainRamenPrint.png"
  weight: "500"
  # Enable size variants
  size_variant: false
  size_variant_name:
  size_variant_options:

gallery: # on Single Product page
  - url: "source/assets/img/shop/OffChainRamen_Print.png"
    alt: "OffChain Ramen screen print"
    background_color: "muted"
    override_blend_mode: true
    padding: true
  - url: "source/assets/img/shop/OffChainRamen_Print_Picture_01.jpg"
    alt: "Picture of the OffChain Ramen screen print"
    background_color: "muted"
    override_blend_mode: true
    padding: false
  - url: "source/assets/img/shop/OffChainRamen_Print_Picture_02.jpg"
    alt: "Picture of the OffChain Ramen screen print"
    background_color: "muted"
    override_blend_mode: true
    padding: false

site:
  # Featured image
  featured_image_url: "source/assets/img/shop/OffChainRamen_Print.png"
  featured_image_alt: "OffChain Ramen screen printt"
  background_color: "offwhite"
  override_blend_mode: true
  override_padding: false
  # Include on homepage grid
  featured_product: true
  # Enable tag overlay on featured image
  tag: false
  tag_content:
  # Pre-order
  pre_order: false
  # Sold-out
  sold_out: false
  # External link
  external_product: false
  external_product_link:
  external_product_title:

# SPECS
specs_intro:
specs:
  - title: "Edition"
    description: "Limited run of 21, signed & numbered"
  - title: "Size"
    description: "50x70cm"
  - title: "Stock"
    description: "Steinbach, Offwhite, 250gr"
  - title: "Print"
    description: "Two color screen print"
  - title: "Shipping"
    description: "Frame not included"

# SIZE GUIDE
shirt_model:
---
