---
layout: product
permalink: /products/satstreamer-print/
date: 2025-10-11
ogImage:
title: Satstreamer Print — 50x70cm
product_kind: "print"

description: |
  What if you could support creators directly by streaming micro-payments to their
  BTC Lightning wallet? Well, you can! Satstreamers is an ode to the V4V monetisation model and
  NOSTR-zaps — NoGood style.

# Used in product page marquee
short_title: "Satstreamer"
subtitle: false
subtitle_content:

snipcart:
  id: "satstreamer-print"
  price: "180"
  short_description: "Satstreamers — gold screen print"
  snipcartimage: "/assets/img/shop/snipcart/Snipcart_SatstreamerPrint.png"
  weight: "500"
  # Enable size variants
  size_variant: false
  size_variant_name:
  size_variant_options:

gallery: # on Single Product page
  - url: "source/assets/img/shop/Satstreamers_Print.png"
    alt: "Satstreamer gold screen print"
    background_color: "dark"
    override_blend_mode: true
    padding: true

site:
  # Featured image
  featured_image_url: "source/assets/img/shop/Satstreamers_Print.png"
  featured_image_alt: "Satstreamer gold screen print"
  background_color: "dark"
  override_blend_mode: true
  override_padding: false
  # Include on homepage grid
  featured_product: true
  # Enable tag overlay on featured image
  tag: false
  tag_content:
  # Pre-order
  pre_order: false
  # Sold-out
  sold_out: true
  # External link
  external_product: false
  external_product_link:
  external_product_title:

# SPECS
specs_intro:
specs:
  - title: "Edition"
    description: "Limited run of 21, signed & numbered"
  - title: "Size"
    description: "50x70cm"
  - title: "Stock"
    description: "Gmund Colors, Black, 300gr"
  - title: "Print"
    description: "Gold ink screen print"
  - title: "Shipping"
    description: "Frame not included"

# SIZE GUIDE
shirt_model:
---
