---
layout: product
permalink: /products/se-crew-shirt-black/
date: 2025-10-05
ogImage:
title: SE Crew Tee — Black
product_kind: "shirt"

description: |
  Because a fake electronics store needs real merch.
  This is the original Sovereign Electronics employee shirt,
  screen printed and produced in a limited run of 50.

# Used in product page marquee
short_title: SE Crew Tee
subtitle: true
subtitle_content: "Color: Black"

snipcart:
  id: "se-crew-tee-black"
  price: "30"
  short_description: "SE Crew Tee — black"
  snipcartimage: "/assets/img/shop/snipcart/Snipcart_SECrewTee_Black.png"
  weight: "500"
  # Enable size variants
  size_variant: true
  size_variant_name: "Size"
  size_variant_options: "Medium|Large|Extra Large"

gallery: # on Single Product page
  - url: "source/assets/img/shop/SE_Crew_Black_Front.png"
    alt: "Sovereign Electronics Crew tee"
    background_color: "offwhite"
    override_blend_mode: true
    padding: true
  - url: "source/assets/img/shop/SE_Crew_Black_Back.png"
    alt: "Sovereign Electronics Crew tee"
    background_color: "offwhite"
    override_blend_mode: true
    padding: true

site:
  # Featured image
  featured_image_url: "source/assets/img/shop/SE_Crew_Black_Front.png"
  featured_image_alt: "Sovereign Electronics Crew tee"
  background_color: "muted"
  override_blend_mode: true
  override_padding: false
  # Include on homepage grid
  featured_product: true
  # Enable tag overlay on featured image
  tag: false
  tag_content:
  # Pre-order
  pre_order: false
  # Sold-out
  sold_out: false
  # External link
  external_product: false
  external_product_link:
  external_product_title:

# SPECS
specs_intro:
specs:
  - title: "fit"
    description: "EU sizes - regular fit"
  - title: "print"
    description: "Screen print"
  - title: "brand"
    description: "Stanley Stella Creator - Black"

# SIZE GUIDE
shirt_model: "Creator"
---

