---
layout: product
permalink: /products/se-crew-shirt-white/
date: 2025-10-04
ogImage:
title: "SE Crew Tee — Offwhite"
product_kind: "shirt"

description: >
  Because a fake electronics store needs real merch.
  This is the original Sovereign Electronics employee shirt,
  screen printed and produced in a limited run of 50.

# Used in product page marquee
short_title: "SE Crew Tee"
subtitle: true
subtitle_content: "Color: Offwhite"

snipcart:
  id: "se-crew-tee-white"
  price: "30"
  short_description: "SE Crew Tee — offwhite"
  snipcartimage: "/assets/img/shop/snipcart/Snipcart_SECrewTee_White.png"
  weight: "500"
  # Enable size variants
  size_variant: true
  size_variant_name: "Size"
  size_variant_options: "Large|Extra Large"

gallery: # on Single Product page
  - url: "source/assets/img/shop/SE_Crew_White_Front.png"
    alt: "SE Crew Shirt Front"
    background_color: "medium"
    override_blend_mode: true
    padding: true
  - url: "source/assets/img/shop/SE_Crew_White_Back.png"
    alt: "SE Crew Shirt Back"
    background_color: "medium"
    override_blend_mode: true
    padding: true

site:
  # Featured image
  featured_image_url: "source/assets/img/shop/SE_Crew_White_Front.png"
  featured_image_alt: "SE Crew Tee"
  background_color: "medium"
  override_blend_mode: true
  override_padding: false
  # Include on homepage grid
  featured_product: false
  # Enable tag overlay on featured image
  tag: false
  tag_content:
  # Pre-order
  pre_order: false
  # Sold-out
  sold_out: false
  # External link
  external_product: false
  external_product_link:
  external_product_title:

# SPECS
specs_intro: >
  Hi this is the intro!
specs:
  - title: "fit"
    description: "EU sizes - regular fit"
  - title: "print"
    description: "Two color screen print"
  - title: "model"
    description: "Stanley Stella Creator - Natural Raw"

# SIZE GUIDE
shirt_model: "Creator"
---

Hi this is the content
