---
layout: product
permalink: /products/zero-trust-shirt/
date: 2025-10-02
ogImage:
title: "Zero Trust Tee — Black"
product_kind: "shirt"

description: >
  Inspired by the Bitcoin protocol and Lightning Network node runners,
  Zero Trust is one of the first NoGood illustrations. Production of this tee was
  crowd-funded on Geyser, screen printed in Amsterdam and produced in a limited run of 100.

# Used in product page marquee
short_title: Zero Trust Tee
subtitle: true
subtitle_content: "Color: Black"

snipcart:
  id: "zero-trust-tee-black"
  price: "30"
  short_description: "Zero Trust — black tee"
  snipcartimage: "/assets/img/shop/snipcart/Snipcart_ZeroTrustTee.png"
  weight: "500"
  # Enable size variants
  size_variant: true
  size_variant_name: "Size"
  size_variant_options: "Small|Medium|Large|Extra Large"

gallery: # on Single Product page
  - url: "source/assets/img/shop/ZeroTrust_Tee_Back.png"
    alt: "Zero Trust Tee — Back"
    background_color: "offwhite"
    override_blend_mode: false
    padding: true
  - url: "source/assets/img/shop/ZeroTrust_Tee_Front.png"
    alt: "Zero Trust Tee — Front"
    background_color: "offwhite"
    override_blend_mode: false
    padding: true

site:
  # Featured image
  featured_image_url: "source/assets/img/shop/ZeroTrust_Tee_Back.png"
  featured_image_alt: "Zero Trust Tee — Front"
  background_color: "muted"
  override_blend_mode: false
  override_padding: false
  # Include on homepage grid
  featured_product: true
  # Enable tag overlay on featured image
  tag: false
  tag_content:
  # Pre-order
  pre_order: false
  # Sold-out
  sold_out: false
  # External link
  external_product: false
  external_product_link:
  external_product_title:

# SPECS
specs_intro:
specs:
  - title: "Fit"
    description: "EU sizes - regular fit"
  - title: "Print"
    description: "Single color screen print"
  - title: "Model"
    description: "Stanley Stella Creator - black"
  - title: "Garment Care"
    description: "Wash inside out, don’t tumble dry"

# SIZE GUIDE
shirt_model: "Creator"
---
