---
layout: base.njk
tag: page
title: About
description: "Illustration inspired by retro-tech and fuelled by the open-source movement."
---

{# ABOUT OPENER VIDEO #}
<div class="section">
    <div class="section-column">
    <video autoplay muted loop playsinline preload="metadata">
        <source src="/assets/img/about-opener.mp4" type="video/mp4">
    </video>
    </div>
</div>

{# ABOUT INTRO #}
<div class="section padding-bottom-large">
    <div class="section-column">
        <h1 class="header-large padding-right-large">
            It’s hard to pinpoint the start of NoGood. It slowly emerged as the result of a decade-long exploration to create meaningful work. 
        </h1>
    </div>
</div>
</div>

{# NOGOOD’S ORIGIN #}
<div class="section bg-highlight large-grid">
    <div class="section-column sticky-two-rows">
        <div class="sticky-wrapper">
            <div class="sticky">
                <h1 class="uppercase pixel-font">
                    NoGood’s origins
                </h1>
                <div class="spacer-large"></div>
                <p class="text-extra-large">
                    I fondly remember the technologies of my teenage years: media was still physical—floppy disks, game cartridges—and
                    batteries were easily replaceable. I had a Casio watch to tell the time, a PlayStation to pass it, and a DiscMan
                    to pause it.
                </p>
                <div class="spacer-large"></div>
            </div>
        </div>
        <div class="place-bottom">
            <p class="text-large">
                Back then, hardware wasn’t as sterile, sealed and fragile as it is now. It invited you in, encouraging you to mess around
                with it, tweak things until they broke, and discover how to fix them. It inspired a carefree kind of curiosity. 
            </p>
            <p class="text-large">
               When I stumbled upon Bitcoin in 2016 it immediately excited me. Here was a technology as clunky, experimental, and strange
               as the hardware from twenty years earlier, yet filled with incredible promise. It was a glimmer of excitement in a Web that
               had become repetitive and predictable, and it sparked immediate nostalgia.
            </p>
        </div>
    </div>
    <div class="section-column">
        <div class="bg-highlight">
            {% image "source/assets/img/about/FaberCastell.jpg", "A box of Faber-Castell colored pencils I got for my birthday when I was a kid" %}
        </div>
        <div class="bg-highlight">
            {% image "source/assets/img/about/Laptop.jpg", "My current laptop" %}
        </div>
    </div>
</div>

{# BECOMING AN ILLUSTRATOR #}
<div class="section bg-highlight text-dark large-grid">
    <div class="section-column sticky-two-rows">
        <div class="sticky-wrapper">
            <div class="sticky">
                <h1 class="">
                    Around the same time I discovered Bitcoin I gravitated back toward a passion I neglected since my
                    early 20’s: drawing.
                </h1>
                <div class="spacer-large"></div>
            </div>
        </div>
        <div class="place-bottom">
            <p class="text-large">
                I started live-streaming my process on Twitch and shortly afterward I was offered my first illustration
                project. Then another, and another. In the summer of 2018 I took a leap and became a freelance illustrator.
            </p>
            <p class="text-large">
               Combining my interests in Bitcoin with my work as an illustrator, I started by creating a pack of
               illustrations to sell online. I built an online store and set up a Bitcoin node
               to use as a payment processor. NoGood, in fact, started out as a Bitcoin-only store.
            </p>
            <p class="text-large">
               I stumbled upon a headline that accurately captured the prevalent skepticism dominating the media:
               “Bitcoin’s very bad, no good year”. That was it—the perfect name to encapsulate my illustrated
               endeavour: NoGood. 
            </p>
        </div>
    </div>
    <div class="section-column">
        <div class="bg-highlight">
            {% image "source/assets/img/about/Stickers.jpg", "Stick packs" %}
        </div>
        <div class="bg-highlight">
            {% image "source/assets/img/about/Signing.jpg", "Signing Zero Trust printsin my studio" %}
        </div>
    </div>
</div>

{# LARGE STUDIO IMG #}
<div class="section-fullwidth">
    <div class="bg-muted">
        {% image "source/assets/img/about/Studio.jpg", "At work in my studio" %}
    </div>
</div>

{# NOW + BOOK #}
<div class="section bg-dark text-light large-grid">
    <div class="section-column sticky-two-rows">
        <div class="sticky-wrapper">
            <div class="sticky">
                <h1 class="">
                    The Bitcoin node I set up years ago is still in use.
                    It sits in my studio, next to my workstation and a Bitaxe,
                    softly buzzing, representing the inception of NoGood.
                </h1>
                <div class="spacer-large"></div>
            </div>
        </div>
        <div class="place-bottom">
            <p class="text-large">
                Since then, working on a variety of projects within the Bitcoin space,
                I learned about other decentralised protocols, online privacy, open-source
                software, and the IndieWeb, further broadening my interests and the scope
                of my work. 
            </p>
            <p class="text-large">
                In 2024, I decided to bring together five years worth of illustration projects in  
                <a href="/the-nogood-book/">The NoGood Book</a>. Aside from merely showcasing
                my work, it highlights open-source initiatives, the open-web and decentralised protocols.
            </p>
        </div>
    </div>
    <div class="section-column">
        <div class="bg-muted">
            {% image "source/assets/img/about/Node.jpg", "The Bitcoin node I setup in 2021" %}
        </div>
    </div>
</div>
